In [6]:
import pandas as pd
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv("parlay_data_sample.csv")

In [8]:
data.head()

,loan_id,period_start,probability_of_default,loss_given_default,expected_loss,lumos_score,rate_type,franchise,franchise_name,borrstate,...,EXPLANATION_8_ACTUAL_VALUE,EXPLANATION_8_QUALITATIVE_STRENGTH,EXPLANATION_9_FEATURE_NAME,EXPLANATION_9_STRENGTH,EXPLANATION_9_ACTUAL_VALUE,EXPLANATION_9_QUALITATIVE_STRENGTH,EXPLANATION_10_FEATURE_NAME,EXPLANATION_10_STRENGTH,EXPLANATION_10_ACTUAL_VALUE,EXPLANATION_10_QUALITATIVE_STRENGTH
0,0,7/31/20,1.38%,18.39%,0.25%,100,F,False,NaN,KS,...,'7.1',++,state_labor_force,0.079548,'1489001.0',++,t10yie,-0.078435,'1.55',--
1,1,11/30/19,1.83%,30.18%,0.55%,94,V,False,NaN,IL,...,'IL',+,borr_count,-0.047088,'2.0',-,t10yie,-0.045048,'1.61',-
2,2,8/31/15,5.05%,66.34%,3.35%,81,V,False,NaN,CO,...,'4a',++,county_employment,-0.074971,'29960.0',--,t10yie,-0.066798,'1.63',--
3,3,12/31/09,3.92%,42.93%,1.68%,86,V,False,NaN,CT,...,'V',++,vix_change,0.063983,'-45.8',++,loan_max_fico,-0.056703,'732.0',--
4,4,10/31/18,2.96%,47.49%,1.41%,88,F,False,NaN,CA,...,'F',--,county_employment,0.102569,'1573536.0',++,empoyessexistingqty,0.097354,'1.0',++

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 90 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   loan_id                               100000 non-null  int64
 1   period_start                          100000 non-null  object
 2   probability_of_default                100000 non-null  object
 3   loss_given_default                    100000 non-null  object
 4   expected_loss                         100000 non-null  object
 5   lumos_score                           100000 non-null  int64
 6   rate_type                             100000 non-null  object
 7   franchise                             100000 non-null  bool
 8   franchise_name                        4410 non-null    object
 9   borrstate                             100000 non-null  object
 10  businesstype                          100000 non-null  object
 11  business_type                         100000 non-null  object
 12  empoyessexistingqty                   100000 non-null  int64
 13  naics_risk_group                      11687 non-null   object
 14  2017_naics                            100000 non-null  int64
 15  naics_1                               100000 non-null  int64
 16  naics_2                               100000 non-null  int64
 17  naics_3                               100000 non-null  int64
 18  naics_4                               100000 non-null  int64
 19  naics_5                               100000 non-null  int64
 20  borr_count                            100000 non-null  int64
 21  loan_max_fico                         100000 non-null  int64
 22  loan_min_fico                         100000 non-null  int64
 23  loan_mean_fico                        100000 non-null  float64
 24  collateral                            100000 non-null  bool
 25  primary_collateral_type               60118 non-null   object
 26  collateral_amount                     60118 non-null   object
 27  loan_size                             100000 non-null  object
 28  business_revenue                      100000 non-null  int64
 29  bankruptcy                            100000 non-null  object
 30  lawsuit                               100000 non-null  object
 31  current_inflation_rate                100000 non-null  float64
 32  expected_12mth_inflation_rate         100000 non-null  float64
 33  fed_funds                             100000 non-null  float64
 34  t10yie                                100000 non-null  float64
 35  vix                                   100000 non-null  float64
 36  vix_change                            100000 non-null  float64
 37  avg_hourly_earnings                   94173 non-null   float64
 38  t10y2y                                100000 non-null  float64
 39  county_unemployment_rate              99911 non-null   float64
 40  state_unemployment_rate               99914 non-null   float64
 41  county_unemployment                   99911 non-null   float64
 42  state_unemployment                    99914 non-null   float64
 43  county_employment                     99911 non-null   float64
 44  state_employment                      99914 non-null   float64
 45  county_labor_force                    99911 non-null   float64
 46  state_labor_force                     99914 non-null   float64
 47  state_civilian_labor_population       99144 non-null   float64
 48  state_employment_pop_ratio            99144 non-null   float64
 49  state_labor_force_participation_rate  99144 non-null   float64
 50  EXPLANATION_1_FEATURE_NAME            100000 non-null  object
 51  EXPLANATION_1_STRENGTH                100000 non-null  float64
 52  EXPLANATION_1_ACTUAL_VALUE            100000 non-null  object
 53  EXPLANATION_1_QUALITATIVE_STRENGTH    100000 non-null  object
 54  EXPLANATION_2_FEATURE_NAME            100000 non-null  object
 55  EXPLANATION_2_STRENGTH                100000 non-null  float64
 56  EXPLANATION_2_ACTUAL_VALUE            100000 non-null  object
 57  EXPLANATION_2_QUALITATIVE_STRENGTH    100000 non-null  object
 58  EXPLANATION_3_FEATURE_NAME            100000 non-null  object
 59  EXPLANATION_3_STRENGTH                100000 non-null  float64
 60  EXPLANATION_3_ACTUAL_VALUE            100000 non-null  object
 61  EXPLANATION_3_QUALITATIVE_STRENGTH    100000 non-null  object
 62  EXPLANATION_4_FEATURE_NAME            100000 non-null  object
 63  EXPLANATION_4_STRENGTH                100000 non-null  float64
 64  EXPLANATION_4_ACTUAL_VALUE            100000 non-null  object
 65  EXPLANATION_4_QUALITATIVE_STRENGTH    100000 non-null  object
 66  EXPLANATION_5_FEATURE_NAME            100000 non-null  object
 67  EXPLANATION_5_STRENGTH                100000 non-null  float64
 68  EXPLANATION_5_ACTUAL_VALUE            100000 non-null  object
 69  EXPLANATION_5_QUALITATIVE_STRENGTH    100000 non-null  object
 70  EXPLANATION_6_FEATURE_NAME            100000 non-null  object
 71  EXPLANATION_6_STRENGTH                100000 non-null  float64
 72  EXPLANATION_6_ACTUAL_VALUE            100000 non-null  object
 73  EXPLANATION_6_QUALITATIVE_STRENGTH    100000 non-null  object
 74  EXPLANATION_7_FEATURE_NAME            100000 non-null  object
 75  EXPLANATION_7_STRENGTH                100000 non-null  float64
 76  EXPLANATION_7_ACTUAL_VALUE            100000 non-null  object
 77  EXPLANATION_7_QUALITATIVE_STRENGTH    100000 non-null  object
 78  EXPLANATION_8_FEATURE_NAME            100000 non-null  object
 79  EXPLANATION_8_STRENGTH                100000 non-null  float64
 80  EXPLANATION_8_ACTUAL_VALUE            100000 non-null  object
 81  EXPLANATION_8_QUALITATIVE_STRENGTH    100000 non-null  object
 82  EXPLANATION_9_FEATURE_NAME            100000 non-null  object
 83  EXPLANATION_9_STRENGTH                100000 non-null  float64
 84  EXPLANATION_9_ACTUAL_VALUE            100000 non-null  object
 85  EXPLANATION_9_QUALITATIVE_STRENGTH    100000 non-null  object
 86  EXPLANATION_10_FEATURE_NAME           100000 non-null  object
 87  EXPLANATION_10_STRENGTH               100000 non-null  float64
 88  EXPLANATION_10_ACTUAL_VALUE           100000 non-null  object
 89  EXPLANATION_10_QUALITATIVE_STRENGTH   100000 non-null  object
dtypes: bool(2), float64(30), int64(13), object(45)
memory usage: 67.3+ MB

In [12]:
df1 = data.copy()

In [13]:
df1.head(5)

,loan_id,period_start,probability_of_default,loss_given_default,expected_loss,lumos_score,rate_type,franchise,franchise_name,borrstate,...,EXPLANATION_8_ACTUAL_VALUE,EXPLANATION_8_QUALITATIVE_STRENGTH,EXPLANATION_9_FEATURE_NAME,EXPLANATION_9_STRENGTH,EXPLANATION_9_ACTUAL_VALUE,EXPLANATION_9_QUALITATIVE_STRENGTH,EXPLANATION_10_FEATURE_NAME,EXPLANATION_10_STRENGTH,EXPLANATION_10_ACTUAL_VALUE,EXPLANATION_10_QUALITATIVE_STRENGTH
0,0,7/31/20,1.38%,18.39%,0.25%,100,F,False,NaN,KS,...,'7.1',++,state_labor_force,0.079548,'1489001.0',++,t10yie,-0.078435,'1.55',--
1,1,11/30/19,1.83%,30.18%,0.55%,94,V,False,NaN,IL,...,'IL',+,borr_count,-0.047088,'2.0',-,t10yie,-0.045048,'1.61',-
2,2,8/31/15,5.05%,66.34%,3.35%,81,V,False,NaN,CO,...,'4a',++,county_employment,-0.074971,'29960.0',--,t10yie,-0.066798,'1.63',--
3,3,12/31/09,3.92%,42.93%,1.68%,86,V,False,NaN,CT,...,'V',++,vix_change,0.063983,'-45.8',++,loan_max_fico,-0.056703,'732.0',--
4,4,10/31/18,2.96%,47.49%,1.41%,88,F,False,NaN,CA,...,'F',--,county_employment,0.102569,'1573536.0',++,empoyessexistingqty,0.097354,'1.0',++

# Handling Explanation Terms

In [14]:
# Mapping from symbols to descriptive text
qualitative_strength_mapping = {
    '-': 'decrease a little',
    '--': 'decrease moderately',
    '---': 'decrease substantially',
    '+': 'increase a little',
    '++': 'increase moderately',
    '+++': 'increase substantially'
}

# New DataFrame to store the reformatted explanations
df_exp = pd.DataFrame()

# Loop through the explanation indices (1 through 10, assuming they all exist and follow this format)
for i in range(1, 11):  # Adjust the range according to the actual number of explanations
    feature_col = f'EXPLANATION_{i}_FEATURE_NAME'
    strength_col = f'EXPLANATION_{i}_QUALITATIVE_STRENGTH'
    
    # Check if the columns exist in df1, to handle cases where some indices may not be present
    if feature_col in df1.columns and strength_col in df1.columns:
        # Map the qualitative strength descriptions
        df1[strength_col] = df1[strength_col].map(qualitative_strength_mapping)
        
        # Create new column in df_exp combining feature name and mapped strength description
        df_exp[f'EXPLANATION_{i}'] = df1[feature_col] + ': ' + df1[strength_col]
        
print(df_exp)

                                EXPLANATION_1  \
0          business_type: decrease moderately
1      loan_mean_fico: decrease substantially
2       loan_max_fico: increase substantially
3                 t10y2y: increase moderately
4       loan_max_fico: increase substantially
...                                       ...
99995     loan_mean_fico: decrease moderately
99996      loan_max_fico: increase moderately
99997   loan_max_fico: increase substantially
99998          t10y2y: decrease substantially
99999      borr_count: decrease substantially

                                           EXPLANATION_2  \
0                         borrstate: increase moderately
1                  business_type: increase substantially
2                    loan_mean_fico: increase moderately
3                     loan_min_fico: decrease moderately
4      state_civilian_labor_population: decrease mode...
...                                                  ...
99995                 loan_max_fico: decrease moderately
99996                       naics_5: increase moderately
99997                loan_mean_fico: increase moderately
99998                 business_type: increase moderately
99999                       naics_2: decrease moderately

                            EXPLANATION_3  \
0             t10y2y: decrease moderately
1      loan_max_fico: decrease moderately
2      business_type: increase moderately
3         bankruptcy: decrease moderately
4      loan_min_fico: increase moderately
...                                   ...
99995  loan_min_fico: decrease moderately
99996         t10y2y: increase moderately
99997      borrstate: decrease moderately
99998      borrstate: decrease moderately
99999        naics_3: decrease moderately

                                     EXPLANATION_4  \
0               loan_min_fico: increase moderately
1                   rate_type: increase moderately
2                   rate_type: increase moderately
3              loan_mean_fico: decrease moderately
4              loan_mean_fico: increase moderately
...                                            ...
99995              borr_count: decrease moderately
99996  current_inflation_rate: increase moderately
99997           loan_min_fico: increase moderately
99998                 lawsuit: increase moderately
99999                 naics_1: decrease moderately

                                       EXPLANATION_5  \
0                 loan_max_fico: decrease moderately
1                       naics_3: decrease moderately
2                 loan_min_fico: increase moderately
3      county_unemployment_rate: increase moderately
4                    bankruptcy: decrease moderately
...                                              ...
99995       county_unemployment: increase moderately
99996            loan_mean_fico: increase moderately
99997                       vix: increase moderately
99998  county_unemployment_rate: decrease moderately
99999    2017_naics_categorical: decrease moderately

                                       EXPLANATION_6  \
0        2017_naics_categorical: increase moderately
1                        t10y2y: decrease moderately
2           county_unemployment: decrease moderately
3           empoyessexistingqty: increase moderately
4            county_labor_force: increase moderately
...                                              ...
99995                   naics_3: decrease moderately
99996                   lawsuit: increase moderately
99997  county_unemployment_rate: increase moderately
99998   state_unemployment_rate: decrease moderately
99999             loan_max_fico: decrease moderately

                                      EXPLANATION_7  \
0                      naics_1: increase moderately
1                        naics_2: increase a little
2                    fed_funds: decrease moderately
3      state_unemployment_rate: increase moderately
4                business_type: increase moderately
...                                             ...
99995        county_employment: increase moderately
99996               borr_count: increase moderately
99997               bankruptcy: decrease moderately
99998               bankruptcy: increase moderately
99999                  naics_4: decrease moderately

                                       EXPLANATION_8  \
0       state_unemployment_rate: increase moderately
1                       borrstate: increase a little
2                       naics_1: increase moderately
3                     rate_type: increase moderately
4                     rate_type: decrease moderately
...                                              ...
99995                bankruptcy: decrease moderately
99996  county_unemployment_rate: increase moderately
99997                    t10y2y: increase moderately
99998             loan_max_fico: increase moderately
99999                    t10yie: increase moderately

                                EXPLANATION_9  \
0      state_labor_force: increase moderately
1               borr_count: decrease a little
2      county_employment: decrease moderately
3             vix_change: increase moderately
4      county_employment: increase moderately
...                                       ...
99995        business_type: decrease a little
99996                vix: increase moderately
99997         borr_count: increase moderately
99998  state_labor_force: decrease moderately
99999     loan_mean_fico: decrease moderately

                                          EXPLANATION_10
0                            t10yie: decrease moderately
1                              t10yie: decrease a little
2                            t10yie: decrease moderately
3                     loan_max_fico: decrease moderately
4               empoyessexistingqty: increase moderately
...                                                  ...
99995                         lawsuit: decrease a little
99996       state_unemployment_rate: increase moderately
99997                         lawsuit: increase a little
99998  expected_12mth_inflation_rate: decrease modera...
99999             avg_hourly_earnings: increase a little

[100000 rows x 10 columns]

In [15]:
df_exp.head(5)

,EXPLANATION_1,EXPLANATION_2,EXPLANATION_3,EXPLANATION_4,EXPLANATION_5,EXPLANATION_6,EXPLANATION_7,EXPLANATION_8,EXPLANATION_9,EXPLANATION_10
0,business_type: decrease moderately,borrstate: increase moderately,t10y2y: decrease moderately,loan_min_fico: increase moderately,loan_max_fico: decrease moderately,2017_naics_categorical: increase moderately,naics_1: increase moderately,state_unemployment_rate: increase moderately,state_labor_force: increase moderately,t10yie: decrease moderately
1,loan_mean_fico: decrease substantially,business_type: increase substantially,loan_max_fico: decrease moderately,rate_type: increase moderately,naics_3: decrease moderately,t10y2y: decrease moderately,naics_2: increase a little,borrstate: increase a little,borr_count: decrease a little,t10yie: decrease a little
2,loan_max_fico: increase substantially,loan_mean_fico: increase moderately,business_type: increase moderately,rate_type: increase moderately,loan_min_fico: increase moderately,county_unemployment: decrease moderately,fed_funds: decrease moderately,naics_1: increase moderately,county_employment: decrease moderately,t10yie: decrease moderately
3,t10y2y: increase moderately,loan_min_fico: decrease moderately,bankruptcy: decrease moderately,loan_mean_fico: decrease moderately,county_unemployment_rate: increase moderately,empoyessexistingqty: increase moderately,state_unemployment_rate: increase moderately,rate_type: increase moderately,vix_change: increase moderately,loan_max_fico: decrease moderately
4,loan_max_fico: increase substantially,state_civilian_labor_population: decrease mode...,loan_min_fico: increase moderately,loan_mean_fico: increase moderately,bankruptcy: decrease moderately,county_labor_force: increase moderately,business_type: increase moderately,rate_type: decrease moderately,county_employment: increase moderately,empoyessexistingqty: increase moderately

# Handling Other Attributes

In [16]:
df = data[data.columns[:50]]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   loan_id                               100000 non-null  int64
 1   period_start                          100000 non-null  object
 2   probability_of_default                100000 non-null  object
 3   loss_given_default                    100000 non-null  object
 4   expected_loss                         100000 non-null  object
 5   lumos_score                           100000 non-null  int64
 6   rate_type                             100000 non-null  object
 7   franchise                             100000 non-null  bool
 8   franchise_name                        4410 non-null    object
 9   borrstate                             100000 non-null  object
 10  businesstype                          100000 non-null  object
 11  business_type                         100000 non-null  object
 12  empoyessexistingqty                   100000 non-null  int64
 13  naics_risk_group                      11687 non-null   object
 14  2017_naics                            100000 non-null  int64
 15  naics_1                               100000 non-null  int64
 16  naics_2                               100000 non-null  int64
 17  naics_3                               100000 non-null  int64
 18  naics_4                               100000 non-null  int64
 19  naics_5                               100000 non-null  int64
 20  borr_count                            100000 non-null  int64
 21  loan_max_fico                         100000 non-null  int64
 22  loan_min_fico                         100000 non-null  int64
 23  loan_mean_fico                        100000 non-null  float64
 24  collateral                            100000 non-null  bool
 25  primary_collateral_type               60118 non-null   object
 26  collateral_amount                     60118 non-null   object
 27  loan_size                             100000 non-null  object
 28  business_revenue                      100000 non-null  int64
 29  bankruptcy                            100000 non-null  object
 30  lawsuit                               100000 non-null  object
 31  current_inflation_rate                100000 non-null  float64
 32  expected_12mth_inflation_rate         100000 non-null  float64
 33  fed_funds                             100000 non-null  float64
 34  t10yie                                100000 non-null  float64
 35  vix                                   100000 non-null  float64
 36  vix_change                            100000 non-null  float64
 37  avg_hourly_earnings                   94173 non-null   float64
 38  t10y2y                                100000 non-null  float64
 39  county_unemployment_rate              99911 non-null   float64
 40  state_unemployment_rate               99914 non-null   float64
 41  county_unemployment                   99911 non-null   float64
 42  state_unemployment                    99914 non-null   float64
 43  county_employment                     99911 non-null   float64
 44  state_employment                      99914 non-null   float64
 45  county_labor_force                    99911 non-null   float64
 46  state_labor_force                     99914 non-null   float64
 47  state_civilian_labor_population       99144 non-null   float64
 48  state_employment_pop_ratio            99144 non-null   float64
 49  state_labor_force_participation_rate  99144 non-null   float64
dtypes: bool(2), float64(20), int64(13), object(15)
memory usage: 36.8+ MB

In [18]:
df[['probability_of_default','loss_given_default','expected_loss','collateral_amount','loan_size']]

,probability_of_default,loss_given_default,expected_loss,collateral_amount,loan_size
0,1.38%,18.39%,0.25%,0-200k,101k-500k
1,1.83%,30.18%,0.55%,201k-1M,0-100k
2,5.05%,66.34%,3.35%,201k-1M,0-100k
3,3.92%,42.93%,1.68%,201k-1M,501k+
4,2.96%,47.49%,1.41%,201k-1M,501k+
...,...,...,...,...,...
99995,0.57%,74.76%,0.43%,NaN,501k+
99996,15.09%,92.74%,13.99%,NaN,0-100k
99997,4.51%,63.45%,2.86%,NaN,101k-500k
99998,2.36%,64.90%,1.53%,NaN,101k-500k
99999,1.18%,87.26%,1.03%,NaN,0-100k

**Data Preprocessing**

Converted percentage strings to floats for probability_of_default, expected_loss, and loss_given_default columns to make them usable for analysis.
Converted period_start to datetime format for time-series analysis.
Filtered the dataset to the first 50 columns for focused analysis, likely due to computational efficiency or relevance to the analysis goals.

In [19]:
df['probability_of_default'] = df['probability_of_default'].apply(lambda x: float(x.strip("%")))
df['expected_loss'] = df['expected_loss'].apply(lambda x: float(x.strip("%")))
df['loss_given_default'] = df['loss_given_default'].apply(lambda x: float(x.strip("%")))

In [20]:
df[['collateral_amount','loan_size']]

      collateral_amount  loan_size
0                0-200k  101k-500k
1               201k-1M     0-100k
2               201k-1M     0-100k
3               201k-1M      501k+
4               201k-1M      501k+
...                 ...        ...
99995               NaN      501k+
99996               NaN     0-100k
99997               NaN  101k-500k
99998               NaN  101k-500k
99999               NaN     0-100k

[100000 rows x 2 columns]

In [21]:
df['period_start'] = pd.to_datetime(df['period_start'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   loan_id                               100000 non-null  int64
 1   period_start                          100000 non-null  datetime64[ns]
 2   probability_of_default                100000 non-null  float64
 3   loss_given_default                    100000 non-null  float64
 4   expected_loss                         100000 non-null  float64
 5   lumos_score                           100000 non-null  int64
 6   rate_type                             100000 non-null  object
 7   franchise                             100000 non-null  bool
 8   franchise_name                        4410 non-null    object
 9   borrstate                             100000 non-null  object
 10  businesstype                          100000 non-null  object
 11  business_type                         100000 non-null  object
 12  empoyessexistingqty                   100000 non-null  int64
 13  naics_risk_group                      11687 non-null   object
 14  2017_naics                            100000 non-null  int64
 15  naics_1                               100000 non-null  int64
 16  naics_2                               100000 non-null  int64
 17  naics_3                               100000 non-null  int64
 18  naics_4                               100000 non-null  int64
 19  naics_5                               100000 non-null  int64
 20  borr_count                            100000 non-null  int64
 21  loan_max_fico                         100000 non-null  int64
 22  loan_min_fico                         100000 non-null  int64
 23  loan_mean_fico                        100000 non-null  float64
 24  collateral                            100000 non-null  bool
 25  primary_collateral_type               60118 non-null   object
 26  collateral_amount                     60118 non-null   object
 27  loan_size                             100000 non-null  object
 28  business_revenue                      100000 non-null  int64
 29  bankruptcy                            100000 non-null  object
 30  lawsuit                               100000 non-null  object
 31  current_inflation_rate                100000 non-null  float64
 32  expected_12mth_inflation_rate         100000 non-null  float64
 33  fed_funds                             100000 non-null  float64
 34  t10yie                                100000 non-null  float64
 35  vix                                   100000 non-null  float64
 36  vix_change                            100000 non-null  float64
 37  avg_hourly_earnings                   94173 non-null   float64
 38  t10y2y                                100000 non-null  float64
 39  county_unemployment_rate              99911 non-null   float64
 40  state_unemployment_rate               99914 non-null   float64
 41  county_unemployment                   99911 non-null   float64
 42  state_unemployment                    99914 non-null   float64
 43  county_employment                     99911 non-null   float64
 44  state_employment                      99914 non-null   float64
 45  county_labor_force                    99911 non-null   float64
 46  state_labor_force                     99914 non-null   float64
 47  state_civilian_labor_population       99144 non-null   float64
 48  state_employment_pop_ratio            99144 non-null   float64
 49  state_labor_force_participation_rate  99144 non-null   float64
dtypes: bool(2), datetime64[ns](1), float64(23), int64(13), object(11)
memory usage: 36.8+ MB

<li><b> Mapped NAICS (North American Industry Classification System) codes to human-readable industry sectors and sub-sectors, enriching the dataset with more interpretable information which can be useful for analysis and modeling.</li></b><br>
<li><b>Identified and encoded risk groups based on NAICS codes, adding a Risk_Group feature to the dataset which categorizes businesses into different risk profiles.</li></b>

In [23]:
columns= ['franchise_name','naics_risk_group','loan_id', '2017_naics', 'naics_1', 'naics_2', 'naics_3', 'naics_4', 'naics_5']
nan_values = df[columns].isna().sum()
nan_values

franchise_name      95590
naics_risk_group    88313
loan_id                 0
2017_naics              0
naics_1                 0
naics_2                 0
naics_3                 0
naics_4                 0
naics_5                 0
dtype: int64

In [24]:
df['naics_risk_group'].value_counts()

Cash Intensive Businesses                 7717
High Risk                                 3321
NBFI (Non-Bank Financial Institutions)     622
MSB (Money Services Businesses)             27
Name: naics_risk_group, dtype: int64

In [25]:
df['naics_2'].unique()

array([72, 44, 33, 81, 23, 53, 54, 42, 52, 62, 32, 49, 48, 56, 71, 61, 45,
       31, 21, 51, 55, 11, 92, 22])

In [26]:
sector_mapping = {
    11: "Agriculture, Forestry, Fishing and Hunting",
    21: "Mining, Quarrying, and Oil and Gas Extraction",
    22: "Utilities",
    23: "Construction",
    31: "Manufacturing",
    32: "Manufacturing",
    33: "Manufacturing",
    42: "Wholesale Trade",
    44: "Retail Trade",
    45: "Retail Trade",
    48: "Transportation and Warehousing",
    49: "Transportation and Warehousing",
    51: "Information",
    52: "Finance and Insurance",
    53: "Real Estate and Rental and Leasing",
    54: "Professional, Scientific, and Technical Services",
    55: "Management of Companies and Enterprises",
    56: "Administrative and Support and Waste Management and Remediation Services",
    61: "Educational Services",
    62: "Health Care and Social Assistance",
    71: "Arts, Entertainment, and Recreation",
    72: "Accommodation and Food Services",
    81: "Other Services (except Public Administration)",
    92: "Public Administration"
}


df['Industry_Sector'] = df['naics_2'].map(sector_mapping)
df.head()

,loan_id,period_start,probability_of_default,loss_given_default,expected_loss,lumos_score,rate_type,franchise,franchise_name,borrstate,...,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate,Industry_Sector
0,0,2020-07-31,1.38,18.39,0.25,100,F,False,NaN,KS,...,20696.0,105788.0,323149.0,1383213.0,343845.0,1489001.0,2247710.0,61.5,66.2,Accommodation and Food Services
1,1,2019-11-30,1.83,30.18,0.55,94,V,False,NaN,IL,...,13875.0,221403.0,491661.0,6341422.0,505536.0,6562825.0,10124996.0,62.6,64.8,Retail Trade
2,2,2015-08-31,5.05,66.34,3.35,81,V,False,NaN,CO,...,1130.0,104227.0,29960.0,2736370.0,31090.0,2840597.0,4237868.0,64.6,67.0,Retail Trade
3,3,2009-12-31,3.92,42.93,1.68,86,V,False,NaN,CT,...,42534.0,161898.0,424146.0,1730674.0,466680.0,1892572.0,2754731.0,62.8,68.7,Manufacturing
4,4,2018-10-31,2.96,47.49,1.41,88,F,False,NaN,CA,...,45641.0,759367.0,1573536.0,18567776.0,1619177.0,19327143.0,30994913.0,59.9,62.4,Accommodation and Food Services

In [27]:
pd.set_option('display.max_columns', None)
print(df.head(5))

   loan_id period_start  probability_of_default  loss_given_default  \
0        0   2020-07-31                    1.38               18.39
1        1   2019-11-30                    1.83               30.18
2        2   2015-08-31                    5.05               66.34
3        3   2009-12-31                    3.92               42.93
4        4   2018-10-31                    2.96               47.49

   expected_loss  lumos_score rate_type  franchise franchise_name borrstate  \
0           0.25          100         F      False            NaN        KS
1           0.55           94         V      False            NaN        IL
2           3.35           81         V      False            NaN        CO
3           1.68           86         V      False            NaN        CT
4           1.41           88         F      False            NaN        CA

  businesstype      business_type  empoyessexistingqty  \
0  CORPORATION  EXISTING BUSINESS                    6
1  CORPORATION       NEW BUSINESS                    5
2  CORPORATION       NEW BUSINESS                    1
3  CORPORATION  EXISTING BUSINESS                    2
4  CORPORATION       NEW BUSINESS                    1

            naics_risk_group  2017_naics  naics_1  naics_2  naics_3  naics_4  \
0                        NaN      722511        7       72      722     7225
1                        NaN      446120        4       44      446     4461
2  Cash Intensive Businesses      447110        4       44      447     4471
3                        NaN      332322        3       33      332     3323
4                        NaN      721110        7       72      721     7211

   naics_5  borr_count  loan_max_fico  loan_min_fico  loan_mean_fico  \
0    72251           2            791            727           759.0
1    44612           2            770            759           764.5
2    44711           1            689            689           689.0
3    33232           2            732            701           716.5
4    72111           1            734            734           734.0

   collateral primary_collateral_type collateral_amount  loan_size  \
0        True        commercial_re_1e            0-200k  101k-500k
1        True        commercial_re_1e           201k-1M     0-100k
2        True                other_4a           201k-1M     0-100k
3        True        commercial_re_1e           201k-1M      501k+
4        True        commercial_re_1e           201k-1M      501k+

   business_revenue bankruptcy lawsuit  current_inflation_rate  \
0            432000          N       N                    1.71
1                 0          N       N                    2.70
2                 0          N       N                    1.92
3            223000          N       N                    0.52
4                 0          N       N                    2.68

   expected_12mth_inflation_rate  fed_funds  t10yie    vix  vix_change  \
0                            3.0       0.10    1.55  24.46       36.88
1                            2.5       1.56    1.61  12.62      -30.16
2                            2.8       0.08    1.63  28.43      137.31
3                            2.7       0.05    2.37  21.68      -45.80
4                            2.7       2.20    2.05  21.23      108.55

   avg_hourly_earnings  t10y2y  county_unemployment_rate  \
0                 4.92    0.44                       6.0
1                 3.35    0.17                       2.7
2                 2.20    1.47                       3.6
3                 1.91    2.71                       9.1
4                 3.28    0.28                       2.8

   state_unemployment_rate  county_unemployment  state_unemployment  \
0                      7.1              20696.0            105788.0
1                      3.4              13875.0            221403.0
2                      3.7               1130.0            104227.0
3                      8.6              42534.0            161898.0
4                      3.9              45641.0            759367.0

   county_employment  state_employment  county_labor_force  state_labor_force  \
0           323149.0         1383213.0            343845.0          1489001.0
1           491661.0         6341422.0            505536.0          6562825.0
2            29960.0         2736370.0             31090.0          2840597.0
3           424146.0         1730674.0            466680.0          1892572.0
4          1573536.0        18567776.0           1619177.0         19327143.0

   state_civilian_labor_population  state_employment_pop_ratio  \
0                        2247710.0                        61.5
1                       10124996.0                        62.6
2                        4237868.0                        64.6
3                        2754731.0                        62.8
4                       30994913.0                        59.9

   state_labor_force_participation_rate                  Industry_Sector
0                                  66.2  Accommodation and Food Services
1                                  64.8                     Retail Trade
2                                  67.0                     Retail Trade
3                                  68.7                    Manufacturing
4                                  62.4  Accommodation and Food Services

In [28]:
df['Industry_Sector'].value_counts()

Retail Trade                                                                14572
Construction                                                                12401
Professional, Scientific, and Technical Services                            12303
Accommodation and Food Services                                              9711
Other Services (except Public Administration)                                9521
Health Care and Social Assistance                                            7681
Manufacturing                                                                6993
Administrative and Support and Waste Management and Remediation Services     5834
Wholesale Trade                                                              5429
Transportation and Warehousing                                               4927
Real Estate and Rental and Leasing                                           2623
Arts, Entertainment, and Recreation                                          2326
Finance and Insurance                                                        1880
Information                                                                  1552
Educational Services                                                         1289
Agriculture, Forestry, Fishing and Hunting                                    590
Mining, Quarrying, and Oil and Gas Extraction                                 192
Utilities                                                                      81
Management of Companies and Enterprises                                        53
Public Administration                                                          42
Name: Industry_Sector, dtype: int64

In [29]:
sub_sector_mapping = {
    111: "Crop Production",
    112: "Animal Production and Aquaculture",
    113: "Forestry and Logging",
    114: "Fishing, Hunting and Trapping",
    115: "Support Activities for Agriculture and Forestry",
    211: "Oil and Gas Extraction",
    212: "Mining (except Oil and Gas)",
    213: "Support Activities for Mining",
    221: "Utilities",
    236: "Construction of Buildings",
    237: "Heavy and Civil Engineering Construction",
    238: "Specialty Trade Contractors",
    311: "Food Manufacturing",
    312: "Beverage and Tobacco Product Manufacturing",
    313: "Textile Mills",
    314: "Textile Product Mills",
    315: "Apparel Manufacturing",
    316: "Leather and Allied Product Manufacturing",
    321: "Wood Product Manufacturing",
    322: "Paper Manufacturing",
    323: "Printing and Related Support Activities",
    324: "Petroleum and Coal Products Manufacturing",
    325: "Chemical Manufacturing",
    326: "Plastics and Rubber Products Manufacturing",
    327: "Nonmetallic Mineral Product Manufacturing",
    331: "Primary Metal Manufacturing",
    332: "Fabricated Metal Product Manufacturing",
    333: "Machinery Manufacturing",
    334: "Computer and Electronic Product Manufacturing",
    335: "Electrical Equipment, Appliance, and Component Manufacturing",
    336: "Transportation Equipment Manufacturing",
    337: "Furniture and Related Product Manufacturing",
    339: "Miscellaneous Manufacturing",
    423: "Merchant Wholesalers, Durable Goods",
    424: "Merchant Wholesalers, Nondurable Goods",
    425: "Wholesale Electronic Markets and Agents and Brokers",
    441: "Motor Vehicle and Parts Dealers",
    442: "Furniture and Home Furnishings Stores",
    443: "Electronics and Appliance Stores",
    444: "Building Material and Garden Equipment and Supplies Dealers",
    445: "Food and Beverage Stores",
    446: "Health and Personal Care Stores",
    447: "Gasoline Stations",
    448: "Clothing and Clothing Accessories Stores",
    451: "Sporting Goods, Hobby, Musical Instrument, and Book Stores",
    452: "General Merchandise Stores",
    453: "Miscellaneous Store Retailers",
    454: "Nonstore Retailers",
    481: "Air Transportation",
    482: "Rail Transportation",
    483: "Water Transportation",
    484: "Truck Transportation",
    485: "Transit and Ground Passenger Transportation",
    486: "Pipeline Transportation",
    487: "Scenic and Sightseeing Transportation",
    488: "Support Activities for Transportation",
    491: "Postal Service",
    492: "Couriers and Messengers",
    493: "Warehousing and Storage",
    511: "Publishing Industries (except Internet)",
    512: "Motion Picture and Sound Recording Industries",
    515: "Broadcasting (except Internet)",
    517: "Telecommunications",
    518: "Data Processing, Hosting, and Related Services",
    519: "Other Information Services",
    521: "Monetary Authorities-Central Bank",
    522: "Credit Intermediation and Related Activities",
    523: "Securities, Commodity Contracts, and Other Financial Investments and Related Activities",
    524: "Insurance Carriers and Related Activities",
    525: "Funds, Trusts, and Other Financial Vehicles",
    531: "Real Estate",
    532: "Rental and Leasing Services",
    533: "Lessors of Nonfinancial Intangible Assets",
    541: "Professional, Scientific, and Technical Services",
    551: "Management of Companies and Enterprises",
    561: "Administrative and Support Services",
    562: "Waste Management and Remediation Services",
    611: "Educational Services",
    621: "Ambulatory Health Care Services",
    622: "Hospitals",
    623: "Nursing and Residential Care Facilities",
    624: "Social Assistance",
    711: "Performing Arts, Spectator Sports, and Related Industries",
    712: "Museums, Historical Sites, and Similar Institutions",
    713: "Amusement, Gambling, and Recreation Industries",
    721: "Accommodation",
    722: "Food Services and Drinking Places",
    811: "Repair and Maintenance",
    812: "Personal and Laundry Services",
    813: "Religious, Grantmaking, Civic, Professional, and Similar Organizations",
    814: "Private Households",
    921: "Executive, Legislative, and Other General Government Support",
    922: "Justice, Public Order, and Safety Activities",
    923: "Administration of Human Resource Programs",
    924: "Administration of Environmental Quality Programs",
    925: "Administration of Housing Programs, Urban Planning, and Community Development",
    926: "Administration of Economic Programs",
    927: "Space Research and Technology",
    928: "National Security and International Affairs"
}


df['Industry_Sub_Sector'] = df['naics_3'].map(sub_sector_mapping)
df.head()

,loan_id,period_start,probability_of_default,loss_given_default,expected_loss,lumos_score,rate_type,franchise,franchise_name,borrstate,businesstype,business_type,empoyessexistingqty,naics_risk_group,2017_naics,naics_1,naics_2,naics_3,naics_4,naics_5,borr_count,loan_max_fico,loan_min_fico,loan_mean_fico,collateral,primary_collateral_type,collateral_amount,loan_size,business_revenue,bankruptcy,lawsuit,current_inflation_rate,expected_12mth_inflation_rate,fed_funds,t10yie,vix,vix_change,avg_hourly_earnings,t10y2y,county_unemployment_rate,state_unemployment_rate,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate,Industry_Sector,Industry_Sub_Sector
0,0,2020-07-31,1.38,18.39,0.25,100,F,False,NaN,KS,CORPORATION,EXISTING BUSINESS,6,NaN,722511,7,72,722,7225,72251,2,791,727,759.0,True,commercial_re_1e,0-200k,101k-500k,432000,N,N,1.71,3.0,0.10,1.55,24.46,36.88,4.92,0.44,6.0,7.1,20696.0,105788.0,323149.0,1383213.0,343845.0,1489001.0,2247710.0,61.5,66.2,Accommodation and Food Services,Food Services and Drinking Places
1,1,2019-11-30,1.83,30.18,0.55,94,V,False,NaN,IL,CORPORATION,NEW BUSINESS,5,NaN,446120,4,44,446,4461,44612,2,770,759,764.5,True,commercial_re_1e,201k-1M,0-100k,0,N,N,2.70,2.5,1.56,1.61,12.62,-30.16,3.35,0.17,2.7,3.4,13875.0,221403.0,491661.0,6341422.0,505536.0,6562825.0,10124996.0,62.6,64.8,Retail Trade,Health and Personal Care Stores
2,2,2015-08-31,5.05,66.34,3.35,81,V,False,NaN,CO,CORPORATION,NEW BUSINESS,1,Cash Intensive Businesses,447110,4,44,447,4471,44711,1,689,689,689.0,True,other_4a,201k-1M,0-100k,0,N,N,1.92,2.8,0.08,1.63,28.43,137.31,2.20,1.47,3.6,3.7,1130.0,104227.0,29960.0,2736370.0,31090.0,2840597.0,4237868.0,64.6,67.0,Retail Trade,Gasoline Stations
3,3,2009-12-31,3.92,42.93,1.68,86,V,False,NaN,CT,CORPORATION,EXISTING BUSINESS,2,NaN,332322,3,33,332,3323,33232,2,732,701,716.5,True,commercial_re_1e,201k-1M,501k+,223000,N,N,0.52,2.7,0.05,2.37,21.68,-45.80,1.91,2.71,9.1,8.6,42534.0,161898.0,424146.0,1730674.0,466680.0,1892572.0,2754731.0,62.8,68.7,Manufacturing,Fabricated Metal Product Manufacturing
4,4,2018-10-31,2.96,47.49,1.41,88,F,False,NaN,CA,CORPORATION,NEW BUSINESS,1,NaN,721110,7,72,721,7211,72111,1,734,734,734.0,True,commercial_re_1e,201k-1M,501k+,0,N,N,2.68,2.7,2.20,2.05,21.23,108.55,3.28,0.28,2.8,3.9,45641.0,759367.0,1573536.0,18567776.0,1619177.0,19327143.0,30994913.0,59.9,62.4,Accommodation and Food Services,Accommodation

In [30]:
df['Industry_Sub_Sector'].value_counts()

Professional, Scientific, and Technical Services                12303
Food Services and Drinking Places                                9393
Specialty Trade Contractors                                      8381
Ambulatory Health Care Services                                  6292
Administrative and Support Services                              5397
                                                                ...
Administration of Economic Programs                                 5
Administration of Human Resource Programs                           5
National Security and International Affairs                         4
Rail Transportation                                                 4
Executive, Legislative, and Other General Government Support        1
Name: Industry_Sub_Sector, Length: 96, dtype: int64

In [31]:
risk_group_mapping = {
    # Cash Intensive Businesses
    424940: 'Cash Intensive Businesses', 444110: 'Cash Intensive Businesses',
    444120: 'Cash Intensive Businesses', 444230: 'Cash Intensive Businesses',
    444240: 'Cash Intensive Businesses', 445131: 'Cash Intensive Businesses',
    445132: 'Cash Intensive Businesses', 445320: 'Cash Intensive Businesses',
    449110: 'Cash Intensive Businesses', 449121: 'Cash Intensive Businesses',
    449129: 'Cash Intensive Businesses', 449210: 'Cash Intensive Businesses',
    455110: 'Cash Intensive Businesses', 456110: 'Cash Intensive Businesses',
    457110: 'Cash Intensive Businesses', 458110: 'Cash Intensive Businesses',
    458210: 'Cash Intensive Businesses', 459110: 'Cash Intensive Businesses',
    459120: 'Cash Intensive Businesses', 459130: 'Cash Intensive Businesses',
    459140: 'Cash Intensive Businesses', 459210: 'Cash Intensive Businesses',
    459310: 'Cash Intensive Businesses', 459410: 'Cash Intensive Businesses',
    459420: 'Cash Intensive Businesses', 459510: 'Cash Intensive Businesses',
    459999: 'Cash Intensive Businesses', 722511: 'Cash Intensive Businesses',
    722513: 'Cash Intensive Businesses', 722514: 'Cash Intensive Businesses',
    812930: 'Cash Intensive Businesses', 813219: 'Cash Intensive Businesses',
    
    # HIGH RISK
    441110: 'High Risk', 441120: 'High Risk', 441210: 'High Risk',
    441222: 'High Risk', 441227: 'High Risk', 441330: 'High Risk',
    561510: 'High Risk', 713210: 'High Risk', 811111: 'High Risk',
    811114: 'High Risk', 811121: 'High Risk',
    
    # MSBs (Money Services Businesses)
    522291: 'MSB', 522320: 'MSB', 522390: 'MSB', 523160: 'MSB',
    
    # NBFIs (Non-Bank Financial Institutions)
    423940: 'NBFI', 458310: 'NBFI', 522299: 'NBFI',
}


df['Risk_Group'] = df['2017_naics'].map(risk_group_mapping).fillna('Standard Risk')
df.head()

,loan_id,period_start,probability_of_default,loss_given_default,expected_loss,lumos_score,rate_type,franchise,franchise_name,borrstate,businesstype,business_type,empoyessexistingqty,naics_risk_group,2017_naics,naics_1,naics_2,naics_3,naics_4,naics_5,borr_count,loan_max_fico,loan_min_fico,loan_mean_fico,collateral,primary_collateral_type,collateral_amount,loan_size,business_revenue,bankruptcy,lawsuit,current_inflation_rate,expected_12mth_inflation_rate,fed_funds,t10yie,vix,vix_change,avg_hourly_earnings,t10y2y,county_unemployment_rate,state_unemployment_rate,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate,Industry_Sector,Industry_Sub_Sector,Risk_Group
0,0,2020-07-31,1.38,18.39,0.25,100,F,False,NaN,KS,CORPORATION,EXISTING BUSINESS,6,NaN,722511,7,72,722,7225,72251,2,791,727,759.0,True,commercial_re_1e,0-200k,101k-500k,432000,N,N,1.71,3.0,0.10,1.55,24.46,36.88,4.92,0.44,6.0,7.1,20696.0,105788.0,323149.0,1383213.0,343845.0,1489001.0,2247710.0,61.5,66.2,Accommodation and Food Services,Food Services and Drinking Places,Cash Intensive Businesses
1,1,2019-11-30,1.83,30.18,0.55,94,V,False,NaN,IL,CORPORATION,NEW BUSINESS,5,NaN,446120,4,44,446,4461,44612,2,770,759,764.5,True,commercial_re_1e,201k-1M,0-100k,0,N,N,2.70,2.5,1.56,1.61,12.62,-30.16,3.35,0.17,2.7,3.4,13875.0,221403.0,491661.0,6341422.0,505536.0,6562825.0,10124996.0,62.6,64.8,Retail Trade,Health and Personal Care Stores,Standard Risk
2,2,2015-08-31,5.05,66.34,3.35,81,V,False,NaN,CO,CORPORATION,NEW BUSINESS,1,Cash Intensive Businesses,447110,4,44,447,4471,44711,1,689,689,689.0,True,other_4a,201k-1M,0-100k,0,N,N,1.92,2.8,0.08,1.63,28.43,137.31,2.20,1.47,3.6,3.7,1130.0,104227.0,29960.0,2736370.0,31090.0,2840597.0,4237868.0,64.6,67.0,Retail Trade,Gasoline Stations,Standard Risk
3,3,2009-12-31,3.92,42.93,1.68,86,V,False,NaN,CT,CORPORATION,EXISTING BUSINESS,2,NaN,332322,3,33,332,3323,33232,2,732,701,716.5,True,commercial_re_1e,201k-1M,501k+,223000,N,N,0.52,2.7,0.05,2.37,21.68,-45.80,1.91,2.71,9.1,8.6,42534.0,161898.0,424146.0,1730674.0,466680.0,1892572.0,2754731.0,62.8,68.7,Manufacturing,Fabricated Metal Product Manufacturing,Standard Risk
4,4,2018-10-31,2.96,47.49,1.41,88,F,False,NaN,CA,CORPORATION,NEW BUSINESS,1,NaN,721110,7,72,721,7211,72111,1,734,734,734.0,True,commercial_re_1e,201k-1M,501k+,0,N,N,2.68,2.7,2.20,2.05,21.23,108.55,3.28,0.28,2.8,3.9,45641.0,759367.0,1573536.0,18567776.0,1619177.0,19327143.0,30994913.0,59.9,62.4,Accommodation and Food Services,Accommodation,Standard Risk

In [32]:
df['Risk_Group'].value_counts()

Standard Risk                89410
Cash Intensive Businesses     7650
High Risk                     2734
NBFI                           179
MSB                             27
Name: Risk_Group, dtype: int64

In [33]:
df.columns

Index(['loan_id', 'period_start', 'probability_of_default',
       'loss_given_default', 'expected_loss', 'lumos_score', 'rate_type',
       'franchise', 'franchise_name', 'borrstate', 'businesstype',
       'business_type', 'empoyessexistingqty', 'naics_risk_group',
       '2017_naics', 'naics_1', 'naics_2', 'naics_3', 'naics_4', 'naics_5',
       'borr_count', 'loan_max_fico', 'loan_min_fico', 'loan_mean_fico',
       'collateral', 'primary_collateral_type', 'collateral_amount',
       'loan_size', 'business_revenue', 'bankruptcy', 'lawsuit',
       'current_inflation_rate', 'expected_12mth_inflation_rate', 'fed_funds',
       't10yie', 'vix', 'vix_change', 'avg_hourly_earnings', 't10y2y',
       'county_unemployment_rate', 'state_unemployment_rate',
       'county_unemployment', 'state_unemployment', 'county_employment',
       'state_employment', 'county_labor_force', 'state_labor_force',
       'state_civilian_labor_population', 'state_employment_pop_ratio',
       'state_labor_force_participation_rate', 'Industry_Sector',
       'Industry_Sub_Sector', 'Risk_Group'],
      dtype='object')

In [34]:
df.drop(columns=['naics_risk_group'], inplace=True)

Handling missing values for the columns

'county_unemployment_rate','state_unemployment','county_unemployment',
   'state_unemployment','county_employment','state_employment',
   'county_labor_force','state_labor_force','state_civilian_labor_population',
   'state_employment_pop_ratio','state_labor_force_participation_rate'

In [35]:
df[['county_unemployment_rate','state_unemployment','county_unemployment',
   'state_unemployment','county_employment','state_employment',
   'county_labor_force','state_labor_force','state_civilian_labor_population',
   'state_employment_pop_ratio','state_labor_force_participation_rate']].isnull().groupby(df['borrstate']).sum()

,county_unemployment_rate,state_unemployment,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate
borrstate,,,,,,,,,,,
AK,2,0,2,0,2,0,2,0,0,0,0
AL,0,0,0,0,0,0,0,0,0,0,0
AR,0,0,0,0,0,0,0,0,0,0,0
AZ,0,0,0,0,0,0,0,0,0,0,0
CA,0,0,0,0,0,0,0,0,0,0,0
CO,0,0,0,0,0,0,0,0,0,0,0
CT,0,0,0,0,0,0,0,0,0,0,0
DC,0,0,0,0,0,0,0,0,0,0,0
DE,0,0,0,0,0,0,0,0,0,0,0
FL,0,0,0,0,0,0,0,0,0,0,0
GA,0,0,0,0,0,0,0,0,0,0,0
GU,48,48,48,48,48,48,48,48,48,48,48
HI,0,0,0,0,0,0,0,0,0,0,0
IA,0,0,0,0,0,0,0,0,0,0,0
ID,0,0,0,0,0,0,0,0,0,0,0
IL,0,0,0,0,0,0,0,0,0,0,0
IN,0,0,0,0,0,0,0,0,0,0,0
KS,0,0,0,0,0,0,0,0,0,0,0
KY,0,0,0,0,0,0,0,0,0,0,0
LA,1,0,1,0,1,0,1,0,0,0,0
MA,0,0,0,0,0,0,0,0,0,0,0
MD,0,0,0,0,0,0,0,0,0,0,0
ME,0,0,0,0,0,0,0,0,0,0,0
MI,0,0,0,0,0,0,0,0,0,0,0
MN,0,0,0,0,0,0,0,0,0,0,0
MO,0,0,0,0,0,0,0,0,0,0,0
MS,0,0,0,0,0,0,0,0,0,0,0
MT,0,0,0,0,0,0,0,0,0,0,0
NC,0,0,0,0,0,0,0,0,0,0,0
ND,0,0,0,0,0,0,0,0,0,0,0
NE,0,0,0,0,0,0,0,0,0,0,0
NH,0,0,0,0,0,0,0,0,0,0,0
NJ,0,0,0,0,0,0,0,0,0,0,0
NM,0,0,0,0,0,0,0,0,0,0,0
NV,0,0,0,0,0,0,0,0,0,0,0
NY,0,0,0,0,0,0,0,0,0,0,0
OH,0,0,0,0,0,0,0,0,0,0,0
OK,0,0,0,0,0,0,0,0,0,0,0
OR,0,0,0,0,0,0,0,0,0,0,0
PA,0,0,0,0,0,0,0,0,0,0,0
PR,22,22,22,22,22,22,22,22,792,792,792
RI,0,0,0,0,0,0,0,0,0,0,0
SC,0,0,0,0,0,0,0,0,0,0,0
SD,0,0,0,0,0,0,0,0,0,0,0
TN,0,0,0,0,0,0,0,0,0,0,0
TX,0,0,0,0,0,0,0,0,0,0,0
UT,0,0,0,0,0,0,0,0,0,0,0
VA,0,0,0,0,0,0,0,0,0,0,0
VI,16,16,16,16,16,16,16,16,16,16,16
VT,0,0,0,0,0,0,0,0,0,0,0
WA,0,0,0,0,0,0,0,0,0,0,0
WI,0,0,0,0,0,0,0,0,0,0,0
WV,0,0,0,0,0,0,0,0,0,0,0
WY,0,0,0,0,0,0,0,0,0,0,0

In [36]:
df[['county_unemployment_rate','state_unemployment','county_unemployment',
   'state_unemployment','county_employment','state_employment',
   'county_labor_force','state_labor_force','state_civilian_labor_population',
   'state_employment_pop_ratio','state_labor_force_participation_rate']].groupby(df['borrstate']).count()

,county_unemployment_rate,state_unemployment,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate
borrstate,,,,,,,,,,,
AK,66,68,66,68,66,68,66,68,68,68,68
AL,338,338,338,338,338,338,338,338,338,338,338
AR,288,288,288,288,288,288,288,288,288,288,288
AZ,2192,2192,2192,2192,2192,2192,2192,2192,2192,2192,2192
CA,9116,9116,9116,9116,9116,9116,9116,9116,9116,9116,9116
CO,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364
CT,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682
DC,147,147,147,147,147,147,147,147,147,147,147
DE,345,345,345,345,345,345,345,345,345,345,345
FL,5917,5917,5917,5917,5917,5917,5917,5917,5917,5917,5917
GA,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
GU,0,0,0,0,0,0,0,0,0,0,0
HI,605,605,605,605,605,605,605,605,605,605,605
IA,539,539,539,539,539,539,539,539,539,539,539
ID,1413,1413,1413,1413,1413,1413,1413,1413,1413,1413,1413
IL,4829,4829,4829,4829,4829,4829,4829,4829,4829,4829,4829
IN,1773,1773,1773,1773,1773,1773,1773,1773,1773,1773,1773
KS,573,573,573,573,573,573,573,573,573,573,573
KY,951,951,951,951,951,951,951,951,951,951,951
LA,821,822,821,822,821,822,821,822,822,822,822
MA,4613,4613,4613,4613,4613,4613,4613,4613,4613,4613,4613
MD,1380,1380,1380,1380,1380,1380,1380,1380,1380,1380,1380
ME,691,691,691,691,691,691,691,691,691,691,691
MI,3550,3550,3550,3550,3550,3550,3550,3550,3550,3550,3550
MN,2420,2420,2420,2420,2420,2420,2420,2420,2420,2420,2420
MO,1536,1536,1536,1536,1536,1536,1536,1536,1536,1536,1536
MS,365,365,365,365,365,365,365,365,365,365,365
MT,469,469,469,469,469,469,469,469,469,469,469
NC,1545,1545,1545,1545,1545,1545,1545,1545,1545,1545,1545
ND,232,232,232,232,232,232,232,232,232,232,232
NE,472,472,472,472,472,472,472,472,472,472,472
NH,1537,1537,1537,1537,1537,1537,1537,1537,1537,1537,1537
NJ,2912,2912,2912,2912,2912,2912,2912,2912,2912,2912,2912
NM,256,256,256,256,256,256,256,256,256,256,256
NV,800,800,800,800,800,800,800,800,800,800,800
NY,9725,9725,9725,9725,9725,9725,9725,9725,9725,9725,9725
OH,4839,4839,4839,4839,4839,4839,4839,4839,4839,4839,4839
OK,680,680,680,680,680,680,680,680,680,680,680
OR,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701
PA,3691,3691,3691,3691,3691,3691,3691,3691,3691,3691,3691
PR,770,770,770,770,770,770,770,770,0,0,0
RI,1055,1055,1055,1055,1055,1055,1055,1055,1055,1055,1055
SC,573,573,573,573,573,573,573,573,573,573,573
SD,115,115,115,115,115,115,115,115,115,115,115
TN,702,702,702,702,702,702,702,702,702,702,702
TX,5998,5998,5998,5998,5998,5998,5998,5998,5998,5998,5998
UT,3452,3452,3452,3452,3452,3452,3452,3452,3452,3452,3452
VA,1463,1463,1463,1463,1463,1463,1463,1463,1463,1463,1463
VI,0,0,0,0,0,0,0,0,0,0,0
VT,559,559,559,559,559,559,559,559,559,559,559
WA,3081,3081,3081,3081,3081,3081,3081,3081,3081,3081,3081
WI,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429
WV,225,225,225,225,225,225,225,225,225,225,225
WY,95,95,95,95,95,95,95,95,95,95,95

In [37]:
df['borrstate'].unique()

array(['KS', 'IL', 'CO', 'CT', 'CA', 'AZ', 'NY', 'MD', 'FL', 'UT', 'MO',
       'IN', 'OR', 'NE', 'WV', 'NC', 'PA', 'WI', 'ID', 'MA', 'MI', 'VA',
       'NH', 'OK', 'TN', 'NJ', 'TX', 'KY', 'PR', 'MN', 'GA', 'ME', 'WA',
       'ND', 'OH', 'DE', 'RI', 'DC', 'VT', 'IA', 'AL', 'LA', 'AR', 'NV',
       'HI', 'WY', 'MT', 'SC', 'MS', 'NM', 'AK', 'SD', 'GU', 'VI'],
      dtype=object)

### Handling Missing Values¶

In [39]:
# List of columns in the dataset that require imputation for missing values.
columns_to_impute = [
    'county_unemployment_rate', 'county_unemployment',
    'state_unemployment', 'county_employment', 'state_employment',
    'county_labor_force', 'state_labor_force'
]

def impute_values_state(data, columns,state):
    """
    Imputes missing values for specified columns using median values from state).
    
    This function targets rows for the mentioned borrstate, calculating
    median values for each specified column within state and filling missing values with these medians.
    
    Parameters:
    - data (pd.DataFrame): The dataset containing the columns to be imputed.
    - columns (list): A list of column names where missing values are to be imputed.
    
    The function modifies the 'data' DataFrame in place; no return is necessary.
    """

    # Filter the DataFrame for the state
    df_state = data[data['borrstate'] == state]

    # Calculate the median values for each specified column for that state
    medians = df_state[columns].median()

    # Impute missing values in the original DataFrame for that state
    for column in columns:
        # Fill missing values with the calculated median for that column
        data.loc[(data['borrstate'] == state) & (data[column].isnull()), column] = medians[column]
        
    return data


# Specific estimated values to impute for missing data in PR, GU, and VI.
Imputing_specific_estimates = {
    'county_unemployment_rate': 2.5,
    'state_unemployment_rate': 3.0,
    'county_unemployment': 16764.0,
    'state_unemployment': 139700.0,
    'county_employment': 78870.0,
    'state_employment': 4451800.0,
    'county_labor_force': 343845.0,
    'state_labor_force': 1489001.0,
    'state_civilian_labor_population': 4591500.0,
    'state_employment_pop_ratio': 61.5,
    'state_labor_force_participation_rate': 66.6
}


def impute_missing_values(data, impute_values):
    """
    Imputes missing values with specific estimates for selected geographic locations.
    
    This function targets rows where the 'borrstate' is 'PR', 'GU', or 'VI',
    filling missing values with predefined estimates for certain columns.
    
    Parameters:
    - data (pd.DataFrame): The dataset containing the columns to be imputed.
    - impute_values (dict): A dictionary where keys are column names and values are the 
      specific values to use for imputation.
    
    Returns:
    - pd.DataFrame: The modified DataFrame with missing values imputed.
    """
    for column in impute_values.keys():
        # Fill missing values with the specified values for that column
        data.loc[((data['borrstate'] == 'PR') | (data['borrstate'] == 'GU') |
                  (data['borrstate'] == 'VI')) & (data[column].isnull()), column] = impute_values[column]

    return data


# Example usage of the defined functions to impute missing values in training, validation, and test sets.
df = impute_missing_values(df, Imputing_specific_estimates)

df= impute_values_state(df, ['county_unemployment_rate', 'county_unemployment', 'county_employment','county_labor_force'],'AK')

df= impute_values_state(df, ['county_unemployment_rate', 'county_unemployment', 'county_employment','county_labor_force'],'LA')

# Checking for remaining missing values in specific columns after imputation.
df[['county_unemployment_rate', 'state_unemployment', 'county_unemployment',
         'state_unemployment', 'county_employment', 'state_employment',
         'county_labor_force', 'state_labor_force', 'state_civilian_labor_population',
         'state_employment_pop_ratio', 'state_labor_force_participation_rate']].isnull().groupby(df['borrstate']).sum()

,county_unemployment_rate,state_unemployment,county_unemployment,state_unemployment,county_employment,state_employment,county_labor_force,state_labor_force,state_civilian_labor_population,state_employment_pop_ratio,state_labor_force_participation_rate
borrstate,,,,,,,,,,,
AK,0,0,0,0,0,0,0,0,0,0,0
AL,0,0,0,0,0,0,0,0,0,0,0
AR,0,0,0,0,0,0,0,0,0,0,0
AZ,0,0,0,0,0,0,0,0,0,0,0
CA,0,0,0,0,0,0,0,0,0,0,0
CO,0,0,0,0,0,0,0,0,0,0,0
CT,0,0,0,0,0,0,0,0,0,0,0
DC,0,0,0,0,0,0,0,0,0,0,0
DE,0,0,0,0,0,0,0,0,0,0,0
FL,0,0,0,0,0,0,0,0,0,0,0
GA,0,0,0,0,0,0,0,0,0,0,0
GU,0,0,0,0,0,0,0,0,0,0,0
HI,0,0,0,0,0,0,0,0,0,0,0
IA,0,0,0,0,0,0,0,0,0,0,0
ID,0,0,0,0,0,0,0,0,0,0,0
IL,0,0,0,0,0,0,0,0,0,0,0
IN,0,0,0,0,0,0,0,0,0,0,0
KS,0,0,0,0,0,0,0,0,0,0,0
KY,0,0,0,0,0,0,0,0,0,0,0
LA,0,0,0,0,0,0,0,0,0,0,0
MA,0,0,0,0,0,0,0,0,0,0,0
MD,0,0,0,0,0,0,0,0,0,0,0
ME,0,0,0,0,0,0,0,0,0,0,0
MI,0,0,0,0,0,0,0,0,0,0,0
MN,0,0,0,0,0,0,0,0,0,0,0
MO,0,0,0,0,0,0,0,0,0,0,0
MS,0,0,0,0,0,0,0,0,0,0,0
MT,0,0,0,0,0,0,0,0,0,0,0
NC,0,0,0,0,0,0,0,0,0,0,0
ND,0,0,0,0,0,0,0,0,0,0,0
NE,0,0,0,0,0,0,0,0,0,0,0
NH,0,0,0,0,0,0,0,0,0,0,0
NJ,0,0,0,0,0,0,0,0,0,0,0
NM,0,0,0,0,0,0,0,0,0,0,0
NV,0,0,0,0,0,0,0,0,0,0,0
NY,0,0,0,0,0,0,0,0,0,0,0
OH,0,0,0,0,0,0,0,0,0,0,0
OK,0,0,0,0,0,0,0,0,0,0,0
OR,0,0,0,0,0,0,0,0,0,0,0
PA,0,0,0,0,0,0,0,0,0,0,0
PR,0,0,0,0,0,0,0,0,0,0,0
RI,0,0,0,0,0,0,0,0,0,0,0
SC,0,0,0,0,0,0,0,0,0,0,0
SD,0,0,0,0,0,0,0,0,0,0,0
TN,0,0,0,0,0,0,0,0,0,0,0
TX,0,0,0,0,0,0,0,0,0,0,0
UT,0,0,0,0,0,0,0,0,0,0,0
VA,0,0,0,0,0,0,0,0,0,0,0
VI,0,0,0,0,0,0,0,0,0,0,0
VT,0,0,0,0,0,0,0,0,0,0,0
WA,0,0,0,0,0,0,0,0,0,0,0
WI,0,0,0,0,0,0,0,0,0,0,0
WV,0,0,0,0,0,0,0,0,0,0,0
WY,0,0,0,0,0,0,0,0,0,0,0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   loan_id                               100000 non-null  int64
 1   period_start                          100000 non-null  datetime64[ns]
 2   probability_of_default                100000 non-null  float64
 3   loss_given_default                    100000 non-null  float64
 4   expected_loss                         100000 non-null  float64
 5   lumos_score                           100000 non-null  int64
 6   rate_type                             100000 non-null  object
 7   franchise                             100000 non-null  bool
 8   franchise_name                        4410 non-null    object
 9   borrstate                             100000 non-null  object
 10  businesstype                          100000 non-null  object
 11  business_type                         100000 non-null  object
 12  empoyessexistingqty                   100000 non-null  int64
 13  2017_naics                            100000 non-null  int64
 14  naics_1                               100000 non-null  int64
 15  naics_2                               100000 non-null  int64
 16  naics_3                               100000 non-null  int64
 17  naics_4                               100000 non-null  int64
 18  naics_5                               100000 non-null  int64
 19  borr_count                            100000 non-null  int64
 20  loan_max_fico                         100000 non-null  int64
 21  loan_min_fico                         100000 non-null  int64
 22  loan_mean_fico                        100000 non-null  float64
 23  collateral                            100000 non-null  bool
 24  primary_collateral_type               60118 non-null   object
 25  collateral_amount                     60118 non-null   object
 26  loan_size                             100000 non-null  object
 27  business_revenue                      100000 non-null  int64
 28  bankruptcy                            100000 non-null  object
 29  lawsuit                               100000 non-null  object
 30  current_inflation_rate                100000 non-null  float64
 31  expected_12mth_inflation_rate         100000 non-null  float64
 32  fed_funds                             100000 non-null  float64
 33  t10yie                                100000 non-null  float64
 34  vix                                   100000 non-null  float64
 35  vix_change                            100000 non-null  float64
 36  avg_hourly_earnings                   94173 non-null   float64
 37  t10y2y                                100000 non-null  float64
 38  county_unemployment_rate              100000 non-null  float64
 39  state_unemployment_rate               100000 non-null  float64
 40  county_unemployment                   100000 non-null  float64
 41  state_unemployment                    100000 non-null  float64
 42  county_employment                     100000 non-null  float64
 43  state_employment                      100000 non-null  float64
 44  county_labor_force                    100000 non-null  float64
 45  state_labor_force                     100000 non-null  float64
 46  state_civilian_labor_population       100000 non-null  float64
 47  state_employment_pop_ratio            100000 non-null  float64
 48  state_labor_force_participation_rate  100000 non-null  float64
 49  Industry_Sector                       100000 non-null  object
 50  Industry_Sub_Sector                   100000 non-null  object
 51  Risk_Group                            100000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(23), int64(13), object(13)
memory usage: 38.3+ MB

#### Drop Columns

In [41]:
drop_columns= ['franchise_name','loan_id','period_start','borrstate','Industry_Sector','Industry_Sub_Sector']


df.drop(drop_columns, axis=1, inplace=True)

In [42]:
df[['collateral','primary_collateral_type','collateral_amount']]

       collateral primary_collateral_type collateral_amount
0            True        commercial_re_1e            0-200k
1            True        commercial_re_1e           201k-1M
2            True                other_4a           201k-1M
3            True        commercial_re_1e           201k-1M
4            True        commercial_re_1e           201k-1M
...           ...                     ...               ...
99995       False                     NaN               NaN
99996       False                     NaN               NaN
99997       False                     NaN               NaN
99998       False                     NaN               NaN
99999       False                     NaN               NaN

[100000 rows x 3 columns]

In [43]:
def impute_collateral(data):
    data['primary_collateral_type'] = data['primary_collateral_type'].fillna('Unknown')
    data['collateral_amount'] = data['collateral_amount'].fillna('0')
    
impute_collateral(df)

In [44]:
df[['collateral','primary_collateral_type','collateral_amount']]

       collateral primary_collateral_type collateral_amount
0            True        commercial_re_1e            0-200k
1            True        commercial_re_1e           201k-1M
2            True                other_4a           201k-1M
3            True        commercial_re_1e           201k-1M
4            True        commercial_re_1e           201k-1M
...           ...                     ...               ...
99995       False                 Unknown                 0
99996       False                 Unknown                 0
99997       False                 Unknown                 0
99998       False                 Unknown                 0
99999       False                 Unknown                 0

[100000 rows x 3 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   probability_of_default                100000 non-null  float64
 1   loss_given_default                    100000 non-null  float64
 2   expected_loss                         100000 non-null  float64
 3   lumos_score                           100000 non-null  int64
 4   rate_type                             100000 non-null  object
 5   franchise                             100000 non-null  bool
 6   businesstype                          100000 non-null  object
 7   business_type                         100000 non-null  object
 8   empoyessexistingqty                   100000 non-null  int64
 9   2017_naics                            100000 non-null  int64
 10  naics_1                               100000 non-null  int64
 11  naics_2                               100000 non-null  int64
 12  naics_3                               100000 non-null  int64
 13  naics_4                               100000 non-null  int64
 14  naics_5                               100000 non-null  int64
 15  borr_count                            100000 non-null  int64
 16  loan_max_fico                         100000 non-null  int64
 17  loan_min_fico                         100000 non-null  int64
 18  loan_mean_fico                        100000 non-null  float64
 19  collateral                            100000 non-null  bool
 20  primary_collateral_type               100000 non-null  object
 21  collateral_amount                     100000 non-null  object
 22  loan_size                             100000 non-null  object
 23  business_revenue                      100000 non-null  int64
 24  bankruptcy                            100000 non-null  object
 25  lawsuit                               100000 non-null  object
 26  current_inflation_rate                100000 non-null  float64
 27  expected_12mth_inflation_rate         100000 non-null  float64
 28  fed_funds                             100000 non-null  float64
 29  t10yie                                100000 non-null  float64
 30  vix                                   100000 non-null  float64
 31  vix_change                            100000 non-null  float64
 32  avg_hourly_earnings                   94173 non-null   float64
 33  t10y2y                                100000 non-null  float64
 34  county_unemployment_rate              100000 non-null  float64
 35  state_unemployment_rate               100000 non-null  float64
 36  county_unemployment                   100000 non-null  float64
 37  state_unemployment                    100000 non-null  float64
 38  county_employment                     100000 non-null  float64
 39  state_employment                      100000 non-null  float64
 40  county_labor_force                    100000 non-null  float64
 41  state_labor_force                     100000 non-null  float64
 42  state_civilian_labor_population       100000 non-null  float64
 43  state_employment_pop_ratio            100000 non-null  float64
 44  state_labor_force_participation_rate  100000 non-null  float64
 45  Risk_Group                            100000 non-null  object
dtypes: bool(2), float64(23), int64(12), object(9)
memory usage: 33.8+ MB

In [46]:
missing_cols = ['avg_hourly_earnings']

In [47]:
df[missing_cols].describe()

       avg_hourly_earnings
count         94173.000000
mean              2.786268
std               0.908266
min               1.550000
25%               2.150000
50%               2.650000
75%               3.200000
max               8.030000

In [48]:
def missing_col(data):
    for col in missing_cols:
        median_value = data[col].median()
        data[col].fillna(median_value, inplace=True)

In [49]:
missing_col(df)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   probability_of_default                100000 non-null  float64
 1   loss_given_default                    100000 non-null  float64
 2   expected_loss                         100000 non-null  float64
 3   lumos_score                           100000 non-null  int64
 4   rate_type                             100000 non-null  object
 5   franchise                             100000 non-null  bool
 6   businesstype                          100000 non-null  object
 7   business_type                         100000 non-null  object
 8   empoyessexistingqty                   100000 non-null  int64
 9   2017_naics                            100000 non-null  int64
 10  naics_1                               100000 non-null  int64
 11  naics_2                               100000 non-null  int64
 12  naics_3                               100000 non-null  int64
 13  naics_4                               100000 non-null  int64
 14  naics_5                               100000 non-null  int64
 15  borr_count                            100000 non-null  int64
 16  loan_max_fico                         100000 non-null  int64
 17  loan_min_fico                         100000 non-null  int64
 18  loan_mean_fico                        100000 non-null  float64
 19  collateral                            100000 non-null  bool
 20  primary_collateral_type               100000 non-null  object
 21  collateral_amount                     100000 non-null  object
 22  loan_size                             100000 non-null  object
 23  business_revenue                      100000 non-null  int64
 24  bankruptcy                            100000 non-null  object
 25  lawsuit                               100000 non-null  object
 26  current_inflation_rate                100000 non-null  float64
 27  expected_12mth_inflation_rate         100000 non-null  float64
 28  fed_funds                             100000 non-null  float64
 29  t10yie                                100000 non-null  float64
 30  vix                                   100000 non-null  float64
 31  vix_change                            100000 non-null  float64
 32  avg_hourly_earnings                   100000 non-null  float64
 33  t10y2y                                100000 non-null  float64
 34  county_unemployment_rate              100000 non-null  float64
 35  state_unemployment_rate               100000 non-null  float64
 36  county_unemployment                   100000 non-null  float64
 37  state_unemployment                    100000 non-null  float64
 38  county_employment                     100000 non-null  float64
 39  state_employment                      100000 non-null  float64
 40  county_labor_force                    100000 non-null  float64
 41  state_labor_force                     100000 non-null  float64
 42  state_civilian_labor_population       100000 non-null  float64
 43  state_employment_pop_ratio            100000 non-null  float64
 44  state_labor_force_participation_rate  100000 non-null  float64
 45  Risk_Group                            100000 non-null  object
dtypes: bool(2), float64(23), int64(12), object(9)
memory usage: 33.8+ MB

### Ordinal Categories


The ordinal_encoding function is designed to encode categorical variables into ordinal numerical formats based on predefined mappings.

In [51]:
df['collateral_amount'].value_counts()

0          39882
0-200k     20103
201k-1M    20065
1M+        19950
Name: collateral_amount, dtype: int64

In [52]:
df['franchise'] = df['franchise'].astype(int)
df['collateral'] = df['collateral'].astype(int)

In [53]:
def ordinal_encoding(data):
    loan_size_mapping = {
        '0-100k': 1,
        '101k-500k': 2,
        '501k+': 3
    }
    data['loan_size'] = data['loan_size'].map(loan_size_mapping)


    collateral_amount_mapping = {
        '0':1,
        '0-200k':2,
        '201k-1M':3,
        '1M+':4

    }
    data['collateral_amount'] = data['collateral_amount'].map(collateral_amount_mapping)
    
    
    
    return data

In [54]:
df = ordinal_encoding(df)

## Factorization

In [56]:
df['Risk_Group'] = pd.Categorical(df['Risk_Group']).codes
df['lawsuit'] = pd.Categorical(df['lawsuit']).codes
df['bankruptcy'] = pd.Categorical(df['bankruptcy']).codes
df['primary_collateral_type'] = pd.Categorical(df['primary_collateral_type']).codes
df['business_type'] = pd.Categorical(df['business_type']).codes
df['businesstype'] = pd.Categorical(df['businesstype']).codes
df['rate_type'] = pd.Categorical(df['rate_type']).codes

### Dropping naics code attributes

In [57]:
df=df.drop(['2017_naics', 'naics_1','naics_2', 'naics_3', 'naics_4', 'naics_5'], axis = 1)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 40 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   probability_of_default                100000 non-null  float64
 1   loss_given_default                    100000 non-null  float64
 2   expected_loss                         100000 non-null  float64
 3   lumos_score                           100000 non-null  int64
 4   rate_type                             100000 non-null  int8
 5   franchise                             100000 non-null  int64
 6   businesstype                          100000 non-null  int8
 7   business_type                         100000 non-null  int8
 8   empoyessexistingqty                   100000 non-null  int64
 9   borr_count                            100000 non-null  int64
 10  loan_max_fico                         100000 non-null  int64
 11  loan_min_fico                         100000 non-null  int64
 12  loan_mean_fico                        100000 non-null  float64
 13  collateral                            100000 non-null  int64
 14  primary_collateral_type               100000 non-null  int8
 15  collateral_amount                     100000 non-null  int64
 16  loan_size                             100000 non-null  int64
 17  business_revenue                      100000 non-null  int64
 18  bankruptcy                            100000 non-null  int8
 19  lawsuit                               100000 non-null  int8
 20  current_inflation_rate                100000 non-null  float64
 21  expected_12mth_inflation_rate         100000 non-null  float64
 22  fed_funds                             100000 non-null  float64
 23  t10yie                                100000 non-null  float64
 24  vix                                   100000 non-null  float64
 25  vix_change                            100000 non-null  float64
 26  avg_hourly_earnings                   100000 non-null  float64
 27  t10y2y                                100000 non-null  float64
 28  county_unemployment_rate              100000 non-null  float64
 29  state_unemployment_rate               100000 non-null  float64
 30  county_unemployment                   100000 non-null  float64
 31  state_unemployment                    100000 non-null  float64
 32  county_employment                     100000 non-null  float64
 33  state_employment                      100000 non-null  float64
 34  county_labor_force                    100000 non-null  float64
 35  state_labor_force                     100000 non-null  float64
 36  state_civilian_labor_population       100000 non-null  float64
 37  state_employment_pop_ratio            100000 non-null  float64
 38  state_labor_force_participation_rate  100000 non-null  float64
 39  Risk_Group                            100000 non-null  int8
dtypes: float64(23), int64(10), int8(7)
memory usage: 25.8 MB

## concatenate the two DataFrames along the columns

In [59]:
df2 = pd.concat([df, df_exp], axis=1)
print(df2.head())

   probability_of_default  loss_given_default  expected_loss  lumos_score  \
0                    1.38               18.39           0.25          100
1                    1.83               30.18           0.55           94
2                    5.05               66.34           3.35           81
3                    3.92               42.93           1.68           86
4                    2.96               47.49           1.41           88

   rate_type  franchise  businesstype  business_type  empoyessexistingqty  \
0          0          0             0              0                    6
1          1          0             0              1                    5
2          1          0             0              1                    1
3          1          0             0              0                    2
4          0          0             0              1                    1

   borr_count  loan_max_fico  loan_min_fico  loan_mean_fico  collateral  \
0           2            791            727           759.0           1
1           2            770            759           764.5           1
2           1            689            689           689.0           1
3           2            732            701           716.5           1
4           1            734            734           734.0           1

   primary_collateral_type  collateral_amount  loan_size  business_revenue  \
0                        1                  2          2            432000
1                        1                  3          1                 0
2                        2                  3          1                 0
3                        1                  3          3            223000
4                        1                  3          3                 0

   bankruptcy  lawsuit  current_inflation_rate  expected_12mth_inflation_rate  \
0           0        0                    1.71                            3.0
1           0        0                    2.70                            2.5
2           0        0                    1.92                            2.8
3           0        0                    0.52                            2.7
4           0        0                    2.68                            2.7

   fed_funds  t10yie    vix  vix_change  avg_hourly_earnings  t10y2y  \
0       0.10    1.55  24.46       36.88                 4.92    0.44
1       1.56    1.61  12.62      -30.16                 3.35    0.17
2       0.08    1.63  28.43      137.31                 2.20    1.47
3       0.05    2.37  21.68      -45.80                 1.91    2.71
4       2.20    2.05  21.23      108.55                 3.28    0.28

   county_unemployment_rate  state_unemployment_rate  county_unemployment  \
0                       6.0                      7.1              20696.0
1                       2.7                      3.4              13875.0
2                       3.6                      3.7               1130.0
3                       9.1                      8.6              42534.0
4                       2.8                      3.9              45641.0

   state_unemployment  county_employment  state_employment  \
0            105788.0           323149.0         1383213.0
1            221403.0           491661.0         6341422.0
2            104227.0            29960.0         2736370.0
3            161898.0           424146.0         1730674.0
4            759367.0          1573536.0        18567776.0

   county_labor_force  state_labor_force  state_civilian_labor_population  \
0            343845.0          1489001.0                        2247710.0
1            505536.0          6562825.0                       10124996.0
2             31090.0          2840597.0                        4237868.0
3            466680.0          1892572.0                        2754731.0
4           1619177.0         19327143.0                       30994913.0

   state_employment_pop_ratio  state_labor_force_participation_rate  \
0                        61.5                                  66.2
1                        62.6                                  64.8
2                        64.6                                  67.0
3                        62.8                                  68.7
4                        59.9                                  62.4

   Risk_Group                           EXPLANATION_1  \
0           0      business_type: decrease moderately
1           4  loan_mean_fico: decrease substantially
2           4   loan_max_fico: increase substantially
3           4             t10y2y: increase moderately
4           4   loan_max_fico: increase substantially

                                       EXPLANATION_2  \
0                     borrstate: increase moderately
1              business_type: increase substantially
2                loan_mean_fico: increase moderately
3                 loan_min_fico: decrease moderately
4  state_civilian_labor_population: decrease mode...

                        EXPLANATION_3                        EXPLANATION_4  \
0         t10y2y: decrease moderately   loan_min_fico: increase moderately
1  loan_max_fico: decrease moderately       rate_type: increase moderately
2  business_type: increase moderately       rate_type: increase moderately
3     bankruptcy: decrease moderately  loan_mean_fico: decrease moderately
4  loan_min_fico: increase moderately  loan_mean_fico: increase moderately

                                   EXPLANATION_5  \
0             loan_max_fico: decrease moderately
1                   naics_3: decrease moderately
2             loan_min_fico: increase moderately
3  county_unemployment_rate: increase moderately
4                bankruptcy: decrease moderately

                                 EXPLANATION_6  \
0  2017_naics_categorical: increase moderately
1                  t10y2y: decrease moderately
2     county_unemployment: decrease moderately
3     empoyessexistingqty: increase moderately
4      county_labor_force: increase moderately

                                  EXPLANATION_7  \
0                  naics_1: increase moderately
1                    naics_2: increase a little
2                fed_funds: decrease moderately
3  state_unemployment_rate: increase moderately
4            business_type: increase moderately

                                  EXPLANATION_8  \
0  state_unemployment_rate: increase moderately
1                  borrstate: increase a little
2                  naics_1: increase moderately
3                rate_type: increase moderately
4                rate_type: decrease moderately

                            EXPLANATION_9  \
0  state_labor_force: increase moderately
1           borr_count: decrease a little
2  county_employment: decrease moderately
3         vix_change: increase moderately
4  county_employment: increase moderately

                             EXPLANATION_10
0               t10yie: decrease moderately
1                 t10yie: decrease a little
2               t10yie: decrease moderately
3        loan_max_fico: decrease moderately
4  empoyessexistingqty: increase moderately

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   probability_of_default                100000 non-null  float64
 1   loss_given_default                    100000 non-null  float64
 2   expected_loss                         100000 non-null  float64
 3   lumos_score                           100000 non-null  int64
 4   rate_type                             100000 non-null  int8
 5   franchise                             100000 non-null  int64
 6   businesstype                          100000 non-null  int8
 7   business_type                         100000 non-null  int8
 8   empoyessexistingqty                   100000 non-null  int64
 9   borr_count                            100000 non-null  int64
 10  loan_max_fico                         100000 non-null  int64
 11  loan_min_fico                         100000 non-null  int64
 12  loan_mean_fico                        100000 non-null  float64
 13  collateral                            100000 non-null  int64
 14  primary_collateral_type               100000 non-null  int8
 15  collateral_amount                     100000 non-null  int64
 16  loan_size                             100000 non-null  int64
 17  business_revenue                      100000 non-null  int64
 18  bankruptcy                            100000 non-null  int8
 19  lawsuit                               100000 non-null  int8
 20  current_inflation_rate                100000 non-null  float64
 21  expected_12mth_inflation_rate         100000 non-null  float64
 22  fed_funds                             100000 non-null  float64
 23  t10yie                                100000 non-null  float64
 24  vix                                   100000 non-null  float64
 25  vix_change                            100000 non-null  float64
 26  avg_hourly_earnings                   100000 non-null  float64
 27  t10y2y                                100000 non-null  float64
 28  county_unemployment_rate              100000 non-null  float64
 29  state_unemployment_rate               100000 non-null  float64
 30  county_unemployment                   100000 non-null  float64
 31  state_unemployment                    100000 non-null  float64
 32  county_employment                     100000 non-null  float64
 33  state_employment                      100000 non-null  float64
 34  county_labor_force                    100000 non-null  float64
 35  state_labor_force                     100000 non-null  float64
 36  state_civilian_labor_population       100000 non-null  float64
 37  state_employment_pop_ratio            100000 non-null  float64
 38  state_labor_force_participation_rate  100000 non-null  float64
 39  Risk_Group                            100000 non-null  int8
 40  EXPLANATION_1                         100000 non-null  object
 41  EXPLANATION_2                         100000 non-null  object
 42  EXPLANATION_3                         100000 non-null  object
 43  EXPLANATION_4                         100000 non-null  object
 44  EXPLANATION_5                         100000 non-null  object
 45  EXPLANATION_6                         100000 non-null  object
 46  EXPLANATION_7                         100000 non-null  object
 47  EXPLANATION_8                         100000 non-null  object
 48  EXPLANATION_9                         100000 non-null  object
 49  EXPLANATION_10                        100000 non-null  object
dtypes: float64(23), int64(10), int8(7), object(10)
memory usage: 33.5+ MB

In [61]:
df2.to_csv('cleaned_df.csv')

In [68]:

# Create an empty DataFrame to hold the renamed columns
df_exp1 = pd.DataFrame()

# Loop through the explanation indices (1 through 10, assuming they all exist and follow this format)
for i in range(1, 6):
    feature_col = f'EXPLANATION_{i}_FEATURE_NAME'
    
    # Check if the columns exist in df1, to handle cases where some indices may not be present
    if feature_col in df1.columns:
        # Copy the feature name column into the new DataFrame with a new column name
        df_exp1[f'EXPLANATION_{i}'] = df1[feature_col]

print(df_exp1)

        EXPLANATION_1                    EXPLANATION_2  EXPLANATION_3  \
0       business_type                        borrstate         t10y2y
1      loan_mean_fico                    business_type  loan_max_fico
2       loan_max_fico                   loan_mean_fico  business_type
3              t10y2y                    loan_min_fico     bankruptcy
4       loan_max_fico  state_civilian_labor_population  loan_min_fico
...               ...                              ...            ...
99995  loan_mean_fico                    loan_max_fico  loan_min_fico
99996   loan_max_fico                          naics_5         t10y2y
99997   loan_max_fico                   loan_mean_fico      borrstate
99998          t10y2y                    business_type      borrstate
99999      borr_count                          naics_2        naics_3

                EXPLANATION_4             EXPLANATION_5
0               loan_min_fico             loan_max_fico
1                   rate_type                   naics_3
2                   rate_type             loan_min_fico
3              loan_mean_fico  county_unemployment_rate
4              loan_mean_fico                bankruptcy
...                       ...                       ...
99995              borr_count       county_unemployment
99996  current_inflation_rate            loan_mean_fico
99997           loan_min_fico                       vix
99998                 lawsuit  county_unemployment_rate
99999                 naics_1    2017_naics_categorical

[100000 rows x 5 columns]

In [69]:
df3= pd.concat([df, df_exp1], axis=1)

In [72]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 45 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   probability_of_default                100000 non-null  float64
 1   loss_given_default                    100000 non-null  float64
 2   expected_loss                         100000 non-null  float64
 3   lumos_score                           100000 non-null  int64
 4   rate_type                             100000 non-null  int8
 5   franchise                             100000 non-null  int64
 6   businesstype                          100000 non-null  int8
 7   business_type                         100000 non-null  int8
 8   empoyessexistingqty                   100000 non-null  int64
 9   borr_count                            100000 non-null  int64
 10  loan_max_fico                         100000 non-null  int64
 11  loan_min_fico                         100000 non-null  int64
 12  loan_mean_fico                        100000 non-null  float64
 13  collateral                            100000 non-null  int64
 14  primary_collateral_type               100000 non-null  int8
 15  collateral_amount                     100000 non-null  int64
 16  loan_size                             100000 non-null  int64
 17  business_revenue                      100000 non-null  int64
 18  bankruptcy                            100000 non-null  int8
 19  lawsuit                               100000 non-null  int8
 20  current_inflation_rate                100000 non-null  float64
 21  expected_12mth_inflation_rate         100000 non-null  float64
 22  fed_funds                             100000 non-null  float64
 23  t10yie                                100000 non-null  float64
 24  vix                                   100000 non-null  float64
 25  vix_change                            100000 non-null  float64
 26  avg_hourly_earnings                   100000 non-null  float64
 27  t10y2y                                100000 non-null  float64
 28  county_unemployment_rate              100000 non-null  float64
 29  state_unemployment_rate               100000 non-null  float64
 30  county_unemployment                   100000 non-null  float64
 31  state_unemployment                    100000 non-null  float64
 32  county_employment                     100000 non-null  float64
 33  state_employment                      100000 non-null  float64
 34  county_labor_force                    100000 non-null  float64
 35  state_labor_force                     100000 non-null  float64
 36  state_civilian_labor_population       100000 non-null  float64
 37  state_employment_pop_ratio            100000 non-null  float64
 38  state_labor_force_participation_rate  100000 non-null  float64
 39  Risk_Group                            100000 non-null  int8
 40  EXPLANATION_1                         100000 non-null  object
 41  EXPLANATION_2                         100000 non-null  object
 42  EXPLANATION_3                         100000 non-null  object
 43  EXPLANATION_4                         100000 non-null  object
 44  EXPLANATION_5                         100000 non-null  object
dtypes: float64(23), int64(10), int8(7), object(5)
memory usage: 29.7+ MB

In [71]:
df3.to_csv('cleaned_df_recom.csv')

In [ ]:
EXPLANATION_1_QUALITATIVE_STRENGTH

In [77]:

# Create an empty DataFrame to hold the renamed columns
df_exp2 = pd.DataFrame()

# Loop through the explanation indices (1 through 10, assuming they all exist and follow this format)
for i in range(1, 6):
    feature_col = f'EXPLANATION_{i}_FEATURE_NAME'
    strength_col = f'EXPLANATION_{i}_STRENGTH'
    
    # Check if the columns exist in df1, to handle cases where some indices may not be present
    if feature_col in data.columns:
        # Copy the feature name column into the new DataFrame with a new column name
        df_exp2[f'EXPLANATION_{i}'] = data[feature_col]
        df_exp2[f'EXPLANATION_{i}_STRENGTH'] = data[strength_col]

print(df_exp2)

        EXPLANATION_1  EXPLANATION_1_STRENGTH  \
0       business_type               -0.165458
1      loan_mean_fico               -0.255019
2       loan_max_fico                0.264952
3              t10y2y                0.180264
4       loan_max_fico                0.311784
...               ...                     ...
99995  loan_mean_fico               -0.387256
99996   loan_max_fico                0.158760
99997   loan_max_fico                0.262102
99998          t10y2y               -0.201739
99999      borr_count               -0.479289

                         EXPLANATION_2  EXPLANATION_2_STRENGTH  EXPLANATION_3  \
0                            borrstate                0.129951         t10y2y
1                        business_type                0.239443  loan_max_fico
2                       loan_mean_fico                0.202938  business_type
3                        loan_min_fico               -0.119959     bankruptcy
4      state_civilian_labor_population               -0.175416  loan_min_fico
...                                ...                     ...            ...
99995                    loan_max_fico               -0.363487  loan_min_fico
99996                          naics_5                0.151666         t10y2y
99997                   loan_mean_fico                0.194990      borrstate
99998                    business_type                0.124063      borrstate
99999                          naics_2               -0.284984        naics_3

       EXPLANATION_3_STRENGTH           EXPLANATION_4  EXPLANATION_4_STRENGTH  \
0                   -0.124901           loan_min_fico                0.124664
1                   -0.199095               rate_type                0.101592
2                    0.139876               rate_type                0.136263
3                   -0.118594          loan_mean_fico               -0.104419
4                    0.152704          loan_mean_fico                0.151649
...                       ...                     ...                     ...
99995               -0.333787              borr_count               -0.274666
99996                0.146152  current_inflation_rate                0.142024
99997               -0.171402           loan_min_fico                0.138036
99998               -0.123552                 lawsuit                0.097051
99999               -0.264218                 naics_1               -0.217573

                  EXPLANATION_5  EXPLANATION_5_STRENGTH
0                 loan_max_fico               -0.119292
1                       naics_3               -0.098295
2                 loan_min_fico                0.100257
3      county_unemployment_rate                0.081787
4                    bankruptcy               -0.118759
...                         ...                     ...
99995       county_unemployment                0.118323
99996            loan_mean_fico                0.137083
99997                       vix                0.121773
99998  county_unemployment_rate               -0.086715
99999    2017_naics_categorical               -0.200668

[100000 rows x 10 columns]

In [78]:
df4 = pd.concat([df, df_exp2], axis=1)

In [79]:
df4.to_csv('cleaned_df_strength.csv')